html, body {
   	width: auto !important;
   	height: 100%;
  	overflow-x: hidden !important;
}

#tipText {
	  font-size: 18px;
}

.fill { 
    min-height: 100%;
}
.navbar{
	margin-right: none;
}
.panel, .route-blurb-container {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.table > thead > tr > th, .table > thead > tr > td {
    border: 0;
}
.snap-drawers a{
	text-decoration: none;
	color: white;
}
.snap-drawers a:link{
	text-decoration: none;
	color: white;
}
.snap-drawers a:hover{
	text-decoration: none;
	color: white;
}
.snap-drawers a:visited{
	text-decoration: none;
	color: white;
}

.loading {
	color: white;
	text-align: center;
}
.spinner {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  background-color: white;

  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

/**--------------MAIN VIEW------------------**/
#mainView {
	background-color: transparent;
	background-position:center;
	border: none;
	overflow: hidden;
	padding-top: 50px;
	margin-bottom: -20px;
}

#mainView .panel {
	border-style: dotted;
    border-width: 1px;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
	color: white;
}

#mainView .panel-body {
	margin-left: 15px;
	margin-right: 15px;
}

#mainView .panel-heading {
	background-color: rgba(0,0,0,0.5);
	color: white;
	margin-left: 15px;
	margin-right: 15px;
}

#mainView .panel-primary{
	background-color: transparent;
	border-style: none;
	box-shadow: none;
}


#mainView .panel-footer {
	background-color: rgba(0,0,0,0.5);
	border-style: none;
	color: white;
	margin-left: 15px;
	margin-right: 15px;
}

#mainView .btn{
	margin-left: none;
	background-color: rgba(0,0,0,0.2);
	border-style: solid;
	border-color: white;
	margin-left: 5px;
	margin-bottom:1px;
	text-decoration: none;
}

#mainView .btn-primary{
	border-style: solid;
	border-color: white;
	color: white;
	border-radius: 50%;
	border-width: 2px;
}

#mainView ul{
	vertical-align: bottom;
}
#mainView li a {
	display: inline-block;
	background: #000;
	box-shadow: 0 3px 0 rgba(255,255,255,0.1);
	color: #00A300;
	line-height: 50px;
	border-radius: 30px;
	padding: 10px 400px 10px 10px;
	margin: 10px;
	text-align: center;
	position: relative;
	text-decoration: none;
}
#mainView .active{
	background: #DA9223;
	color: #fff;	
}
#mainView .logo{
	/**background: #DA9223;**/
	color: #000;
	font-size: 60px;
	font-family: 'Cookie';
	font-weight: normal;
	line-height: 10px;
	text-shadow: 0 3px 0 rgba(0,0,0,0.1);
	border-radius: 30px;
	padding: 10px 50px 20% 30px;
	margin: 0px 0px 0px 40px;
	text-align: left;
}
#mainView .tagline{
	color: #fff;
	font-size: 20px;
	font-family: 'Cookie', cursive;
	font-weight: normal;
	text-shadow: 0 3px 0 rgba(0,0,0,0.1);
	padding: 1px 1px 1px 1px;
	margin: 0px 0px 0px 22px;
	min-width:200px;
	text-align: left;
	position: relative;
	top: 70px;	
}
/**----------Easy View---------------**/
#easyView{
	padding: 5px;
	padding-top: 50px;
	width: 100%;
	float:left;
}

#easyView .panel {
	background-color:rgba(0,0,0,0.2);
	padding: 5px;
	margin-bottom: 5px;
	color: white;
}

#easyView .panel SS{
	font-size: 2em;
}

#easyView .panel-body {
	padding-left: 0px;
	margin-right: 20px;
	margin-left: 20px;
	padding: 5px;
}

#easyView .panel-heading {
	background-color: rgba(0,0,0,0.2);
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -5px;
	margin-bottom: 10px;
	padding: 5px;
}

#easyView .panel-footer {
	background-color: rgba(0,0,0,0.2);
	border-style: none;
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -5px;
	margin-top: 10px;
	padding: 5px;
	font-size: .7em;
}

#easyView .panel-primary{
	background-color: transparent;
	border-style: none;
	box-shadow: none;
}

#easyView table{
	border: none;
	color: white;
	width: 100%;
}

#easyView tr td li{
	list-style: none;
	padding: 10px;
}

#easyView a{
	font-style: none;
	color: white;
	text-decoration: none;
}

#easyView img{
	width: 35px;
}
/**
#radios{
	display:block;
	padding: 0px;
	margin: 0px;
	padding-right: 0px;
}
**/

#easyView .tCircle {
	border-style: solid;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
    border-width: 5px;
    border-radius: 50%;
	padding: 20px;
	width: 200px;
	height: 205px;
	font-size: 2em;
	text-align: center;
	vertical-align: center;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	color: white;
}
#easyView .tCircle span{
	font-size: 3em;
}
#easyView .center {
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #b0e0e6;*/
}

#easyView .imgStrains img {
	margin-left: 10px;
	vertical-align: center;
	width: 50px;
	height: 50px;
}

/**#easyView .imgStrains a img {
	vertical-align: center;
}**/

#easyView .imgStrains h6 {
	text-align: left;
	padding-left: 0px;
}
#easyView .pushDown{
	padding-top: 10px;
}
#easyView .tCircle2 {
	border-style: solid;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
    border-width: 2px;
    border-radius: 50%;
	padding: 20px;
	width: 60px;
	height: 65px;
	font-size: 1em;
	text-align: center;
	vertical-align: center;
	color: white;
	padding: 0px;
	padding-top: 20px;
	background-repeat: no-repeat;
}
#easyView .active{
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid yellow; 

	margin-top: 10px;
	float:right;
}

#easyView .active2{
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-left:10px solid yellow;

	margin-top: 10px;
	float:left; 	
}

#easyView .btn{
	border-style: none;
	background-color: transparent;
}

#easyView .row-padding{
	margin-left: 20px;
}

#easyView .btn-primary{
	border-style: solid;
	border-color: white;
	color:white;
}
#easyView .btn input{
	color:black;
}
#easyView .btn:hover {
  	color:#009900;
}

#easyView .dropdown .btn-default{
	border-style: none;
	background-color: transparent;
	color:white;
	outline:none;
	box-shadow: none;
}
#easyView .dropdown .btn-default:hover {
  	color:#009900;
}

#easyView .dropdown ul li a{
	color:black;
}

#easyView .panel-buttons{
	width: 45%;
	text-align: center;
	vertical-align: center;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	color: white;
} 

#easyView .collapse{
	border-style: none;
	background-color: transparent;
	color:white;
}
/**----------Rec View---------------**/
#recView{
	padding: 5px;
	padding-top: 50px;
	width: 100%;
	float:left;
}

#recView .panel {
	background-color:rgba(0,0,0,0.2);
	padding: 5px;
	margin-bottom: 5px;
	color: white;
}

#recView .panel SS{
	font-size: 2em;
}

#recView .panel-body {
	padding-left: 0px;
	margin-right: 20px;
	margin-left: 20px;
	padding: 5px;
}

#recView .panel-heading {
	background-color: rgba(0,0,0,0.2);
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -5px;
	margin-bottom: 10px;
	padding: 5px;
}

#recView .panel-footer {
	background-color: rgba(0,0,0,0.2);
	border-style: none;
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -5px;
	margin-top: 10px;
	padding: 5px;
	font-size: .7em;
}

#recView .panel-primary{
	background-color: transparent;
	border-style: none;
	box-shadow: none;
}

#recView table{
	border: none;
	color: white;
	width: 100%;
}

#recView tr td li{
	list-style: none;
	padding: 10px;
}

#recView ul li{
	list-style: none;
}
#recView ul li img{
	list-style: none;
	padding-right: 5px;
}

#recView a{
	font-style: none;
	color: white;
	text-decoration: none;
}

#recView img{
	width: 35px;
}

/**
#radios{
	display:block;
	padding: 0px;
	margin: 0px;
	padding-right: 0px;
}**/

#recView .tCircle {
	border-style: solid;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
    border-width: 5px;
    border-radius: 50%;
	padding: 20px;
	width: 200px;
	height: 205px;
	font-size: 2em;
	text-align: center;
	vertical-align: center;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	color: white;
}
#recView .tCircle span{
	font-size: 3em;
}
#recView .center {
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #b0e0e6;*/
}

#recView .imgStrains img {
	margin-left: 10px;
	vertical-align: center;
	width: 50px;
	height: 50px;
}

/**#recView .imgStrains a img {
	vertical-align: center;
}**/

#recView .imgStrains h6 {
	text-align: left;
	padding-left: 0px;
}
#recView .pushDown{
	padding-top: 10px;
}
#recView .tCircle2 {
	border-style: solid;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
    border-width: 2px;
    border-radius: 50%;
	padding: 20px;
	width: 60px;
	height: 65px;
	font-size: 1em;
	text-align: center;
	vertical-align: center;
	color: white;
	padding: 0px;
	padding-top: 20px;
	background-repeat: no-repeat;
}
#recView .active{
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid yellow; 

	margin-top: 18px;
	float:right;
}

#recView .active2{
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-left:10px solid yellow;

	margin-top: 18px;
	float:left; 	
}

#recView .btn{
	border-style: none;
	background-color: transparent;
}

#recView .btn-inner{
	background-color:rgba(0,0,0,0.2);
}

#recView .row-padding{
	margin-left: 20px;
}

#recView .btn-primary{
	border-style: solid;
	border-color: white;
	color:white;
}
#recView .btn input{
	color:black;
}
#recView .btn:hover {
  	color:#009900;
}

#recView .dropdown .btn-default{
	border-style: none;
	background-color: transparent;
	color:white;
	outline:none;
	box-shadow: none;
}
#recView .dropdown .btn-default:hover {
  	color:#009900;
}

#recView .dropdown ul li a{
	color:black;
}

#recView .panel-buttons{
	width: 45%;
	text-align: center;
	vertical-align: center;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	color: white;
} 

#recView .collapse{
	border-style: none;
	background-color: transparent;
	color:white;
}

#recView .sizeImage img{
	width: 35%;
}
#recView .vapeDetail{
	display: list-item;
	list-style: none;
	padding-left: 45%;
}
#recView .txtCentering{
	display: list-item;
	list-style: none;
	text-align: center;
}
#recView .addPadding{
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#recView .tips .panel-footer{
	height: 35px;
}
#recView .tips .panel-body {
	background-repeat: no-repeat;
	background-size: cover;
}
#recView .tips .panel-body div{
	background-color: rgba(1,40,2,0.5);
	background-size: cover;
	/**background-color: rgba(255, 153, 204, .8);**/
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: -35px;
	padding-left: 35px;
	margin-left: -10px;
	margin-top: -10px;
	margin-bottom: -10px;
}

/**----------Temps View---------------**/
/**
#tempsView{
	padding: 5px;
	padding-top: 0px;
	width: 100%;
	float:left;
}

#tempsView .panel {
	border-style: dotted;
    border-width: 1px;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
	padding: 5px;
	margin-bottom: 5px;
	color: white;
}

#tempsView .panel-body {
	padding-left: 0px;
	margin-right: 20px;
	margin-left: 20px;
	padding: 5px;
}

#tempsView .panel-heading {
	background-color: rgba(0,0,0,0.5);
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -5px;
	padding: 5px;
}

#tempsView .panel-footer {
	background-color: rgba(0,0,0,0.5);
	border-style: none;
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -5px;
	padding: 5px;
	font-size: .7em;
}

#tempsView .panel-primary{
	background-color: transparent;
	border-style: none;
	box-shadow: none;
}

#tempsView table{
	border: none;
}

#tempsView a{
	font-style: none;
	color: white;
	text-decoration: none;
}

#radios{
	display:block;
	padding: 0px;
	margin: 0px;
	padding-right: 0px;
}

#tempsView .btn{
	margin-left: none;
	background-color: rgba(0,0,0,0.2);
	margin-left: 15px;
}

#tempsView .tCircle {
	border-style: solid;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
    border-width: 5px;
    border-radius: 50%;
	padding: 20px;
	width: 100px;
	height: 105px;
	font-size: 1.8em;
	text-align: center;
	vertical-align: center;
	margin-left: 37%;
	margin-bottom: -10px;
	color: white;
}

#tempsView .tBox {
	border-style: solid;
	border-color: white;
	background: -webkit-linear-gradient(90deg, #660066 , #FF0000, #FF9900); /* For Safari 5.1 to 6.0 */
/**	background: -o-linear-gradient(90deg, #0000FF , #FF3300, #FFFF00); /* For Opera 11.1 to 12.0 */
/**    background: -moz-linear-gradient(90deg, #0000FF , #FF3300, #FFFF00); /* For Firefox 3.6 to 15 */
/**    background: linear-gradient(90deg, #660066 , #FF0000, #FF9900); /* Standard syntax */
/**    border-width: 3px;
	height: 35px;
	color: white;
}

#tempsView .imgStrains a img {
	vertical-align: center;
}

#tempsView .imgStrains h6 {
	text-align: left;
	padding-left: 0px;
}
#tempsView .pushDown{
	padding-top: 10px;
}
#tempsView .tCircle2 {
	border-style: solid;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
    border-width: 2px;
    border-radius: 50%;
	padding: 20px;
	width: 60px;
	height: 65px;
	font-size: 1em;
	text-align: center;
	vertical-align: center;
	color: white;
	padding: 0px;
	padding-top: 20px;
	background-repeat: no-repeat;
	/*background:url('images/strains/acapulcoGold.jpg') center ;*/

/**}
#tempsView .active{
	border-color: rgba(255, 163, 25,0.8);
	border-width: 5px;
	width: 70px;
	height: 75px;
}**/

/**----------Conditions View---------------**/
/**
#condView{
	padding: 5px;
	padding-top: 0px;
	width: 100%;
	float:left;
}

#condView a{
	text-decoration: none;
	color: white;
}

#condView label{
	color:white;
}

#condView .panel {
	border-style: dotted;
    border-width: 1px;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	color: white;
}

#condView .panel-body {
	padding-left: 0px;
	margin-left: -10px;
	padding: 5px;
}

#condView .panel-heading {
	background-color: rgba(0,0,0,0.5);
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -5px;
	padding: 5px;
}

#condView .panel-footer {
	background-color: rgba(0,0,0,0.5);
	border-style: none;
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -5px;
	padding: 5px;
	font-size: .7em;
}

#condView .panel-primary{
	background-color: rgba(0,0,0,0.3);
	border-style: none;
	box-shadow: none;
}

#condView .primaryInfo{
	font-size: 1.2em;
}

#condView table{
	border: none;
	margin-left: 20px;
}
#condView .temp{
	background-color: rgba(0,0,0,0.2);
	height: 100px;
	padding-left: 20px;
}
#condView ul li{
	display: inline;
	list-style-type: none;
	margin-left: -15px;
}

#condView .active{
	color: white;
	font-size: .9em;
}

#condView .btn{
	margin-left: none;
	background-color: rgba(0,0,0,0.2);
	border-style: solid;
	border-color: white;
	margin-left: 5px;
	margin-bottom:1px;
	text-decoration: none;
}

#condView .btn-primary{
	border-style: solid;
	border-color: white;
	width: 100%;
	color: white;
}

#condView .btn input{
	color:black;
}

#condView .btn-heading{
	background-color: rgba(0,0,0,0.0);
	border: none;
	width: 100%;
	padding-right: 85%;
	padding-left: 0px;
	outline-style: none;
	box-shadow: none;
}

#condView .imgStrains a img {
	vertical-align: center;
}
#condView .imgStrains h6 {
	text-align: left;
	padding-left: 10px;
}

#condView .tCircle {
	border-style: solid;
	border-color: white;
	background-color:rgba(255,105,10,0.5);
    border-width: 4px;
    border-radius: 50%;
	padding: 13px;
	width: 60px;
	height: 65px;
	font-size: 0.9em;
}
#condView .row-padding{
	padding-left: 20px;
	padding-right: 20px;
}

#condView .imgStrains img {
	margin-left: 10px;
	vertical-align: center;
	width: 100px;
	height: 100px;
}

#condView .imgStrains span {
	font-weight: bold;
}

#condView .pushDown{
	padding-top: 10px;
}
#condView .tCircle2 {
	border-style: solid;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
    border-width: 2px;
    border-radius: 50%;
	padding: 20px;
	width: 60px;
	height: 65px;
	font-size: 1em;
	text-align: center;
	vertical-align: center;
	color: white;
	padding: 0px;
	padding-top: 20px;
	background-repeat: no-repeat;
	/*background:url('images/strains/acapulcoGold.jpg') center ;*/
/**
}
#condView .active{
	border-color: rgba(3,22,5,0.8);
	border-width: 5px;
	width: 70px;
	height: 75px;
}
**/
/**----------Strains View---------------**/
/**
#strainsView{
	padding: 5px;
	padding-top: 0px;
	width: 100%;
	float:left;
}
#strainsView a{
	 text-decoration: none;
	 color: white;
}
#strainsView input{
	 text-decoration: none;
	 color: black;
}

#strainsView .panel {
	border-style: dotted;
    border-width: 1px;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	color: white;
}

#strainsView .panel-body {
	padding-left: 0px;
	margin-left: -10px;
	padding: 5px;
}

#strainsView .panel-heading {
	background-color: rgba(0,0,0,0.5);
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -5px;
	padding: 5px;
}

#strainsView .panel-footer {
	background-color: rgba(0,0,0,0.5);
	border-style: none;
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -5px;
	padding: 5px;
	font-size: .7em;
}

#strainsView .panel-primary{
	background-color: rgba(0,0,0,0.3);
	border-style: none;
	box-shadow: none;
}

#strainsView .primaryInfo{
	margin-left: 20px;
}
#strainsView .list-panel {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}

#strainsView ul li{
	display: inline;
	list-style-type: none;
	margin-left: -15px;
}

#strainsView .active{
	color: white;
	font-size: .9em;
}

#strainsView .btn{
	margin-left: none;
	background-color: rgba(0,0,0,0.2);
	margin-left: 5px;
}

#strainsView .btn-primary{
	background-color: rgba(0,0,0,0.2);
	border-style: solid;
	border-color: white;
}

#strainsView .imgStrains {
	background-color:white;
	margin-left: 20px;
	margin-right: 10px;
}
#strainsView  .imgStrains a img {
	vertical-align: center;
	width: 50px;
	height: 50px;
}
#strainsView .imgStrains h6 {
	text-align: left;
	padding-left: 10px;
}
#strainsView .pushDown{
	padding-top: 10px;
}

#strainsView .tCircle {
	border-style: solid;
	border-color: white;
	background-color:rgba(255,105,10,0.5);
    border-width: 4px;
    border-radius: 50%;
	padding: 13px;
	width: 60px;
	height: 65px;
	font-size: 0.9em;
}

#strainsView  .tCircle2 {
	border-style: solid;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
    border-width: 2px;
    border-radius: 50%;
}
**/
/**----------Effects View---------------**/
/**
#effView{
	padding: 5px;
	padding-top: 0px;
	width: 100%;
	float:left;
}

#effView a{
	 text-decoration: none;
	 color: white;
}

#effView .panel {
	border-style: dotted;
    border-width: 1px;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	color: white;
}

#effView .panel-body {
	padding-left: 0px;
	margin-left: 10px;
	padding: 5px;
	border: none;
}

#effView .panel-heading {
	background-color: rgba(0,0,0,0.5);
	color: white;
	margin-top: -5px;
	padding: 5px;
}

#effView .panel-footer {
	background-color: rgba(0,0,0,0.5);
	border-style: none;
	color: white;
	margin-left: -15px;
	margin-right: -5px;
	margin-bottom: -5px;
	padding: 0px;
}

#effView .panel-primary{
	background-color: rgba(0,0,0,0.3);
	border-style: none;
	box-shadow: none;
	padding: 2px;
}

#effView .primaryInfo{
	font-size: 1.1em;
	font-weight: bold;
}

#effView table{
	margin-left: 0px;
}
#effView tr td{
	padding-bottom: 15px;
}

#effView .temp{
	background-color: rgba(0,0,0,0.2);
	height: 100px;
	padding-left: 20px;
}

#effView ul li{
	display: inline;
	list-style-type: none;
	margin-left: -35px;
}
#effView .row-padding {
	margin-left: 10px;
}
#effView .col-padding {
	margin-left: 2px;
}

#effView .active{
	color: white;
	font-size: .9em;
}

#effView .btn{
	margin-left: none;
	background-color: rgba(0,0,0,0.2);
	margin-left: 5px;
}

#effView .btn-primary{
	background-color: rgba(0,0,0,0.2);
	border-style: solid;
	border-color: white;
	margin: 5px;
	color:white;
}
#effView .btn-primary input{
	color:black;
}

#effView .btn-heading{
	background-color: rgba(0,0,0,0.0);
	border: none;
	width: 100%;
	padding-right: 85%;
	padding-left: 0px;
	outline-style: none;
	box-shadow: none;
}

#effView .btn-heading:hover {
  color:#009900;
}
#effView .btn-heading:active {
  color:#006B00;
}
#effView .btn-heading:focus {
  color:#00FF00;
}

#effView .bottomBtn{
	margin-left: 40%;
	margin-right: 5%;
}

#effView .imgStrains a img {
	vertical-align: center;
}
#effView.imgStrains h6 {
	text-align: left;
	padding-left: 10px;
}

#effView .tCircle {
	border-style: solid;
	border-color: white;
	background-color:rgba(255,105,10,0.5);
    border-width: 4px;
    border-radius: 50%;
	padding: 13px;
	width: 60px;
	height: 65px;
	font-size: 0.9em;
}
**/
/**-------------TIP main VIEW--------------**/
/**
#tipsView{
	width: 100%;
	padding: 10px;
	color: white; 
}

#tipView a{
	text-decoration: none;
	color: white;
}

#tipsView img{
	max-width: 100px;
	float: left;
}

#tipsView span{
 	float: right;
}

#tipsView .panel {
	border-style: dotted;
    border-width: 1px;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
	margin-top: 35px;
	margin-bottom: -30px;
	padding-top: 5px;
}

#tipsView .panel-primary{
	background-color: transparent;
	border-style: none;
	box-shadow: none;
	padding: 2px;
}

#tipsView .panel-body {
	padding-left: 0px;
	margin-left: 10px;
	padding: 5px;
	border: none;
}

#tipsView .panel-heading {
	background-color: rgba(0,0,0,0.5);
	color: white;
	margin-top: -5px;
	padding: 5px;
}

#tipsView .panel-footer {
	background-color: rgba(0,0,0,0.5);
	border-style: none;
	color: white;
	margin-left: -15px;
	margin-right: -5px;
	margin-bottom: -5px;
	padding: 0px;
}

#tipsView .active{
	color: white;
	font-size: .9em;
}

#tipsView .btn{
	margin-left: none;
	background-color: rgba(0,0,0,0.2);
	margin-left: 5px;
}

#tipsView .btn-primary{
	background-color: rgba(0,0,0,0.2);
	border-style: solid;
	border-color: white;
	margin: 5px;
	color:white;
}
#tipsView .btn-primary input{
	color:black;
}

#tipsView .btn-heading{
	background-color: rgba(0,0,0,0.0);
	border: none;
	width: 100%;
	padding-right: 85%;
	padding-left: 0px;
	outline-style: none;
	box-shadow: none;
}
#tipsView .row-padding{
	padding-left: 10px;
}

#tipsView .textPlace{
	padding-top: 11px;
	padding-left: 5px;
	float: left;
}
**/
/**--------------TIP List------------------**/
/**
#tips{
	width: 100%;
	float:left;
	padding: 10px;
	color: white; 
}

#tips a{
	 text-decoration: none;
	 color: white;
}

#tips img{
	width:100%;
	max-width: 300px; 
}

#tips .panel-footer img{
	width:100%;
	max-width: 100px; 
}

#tips .panel {
	border-style: dotted;
    border-width: 1px;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
	margin-top: 35px;
	margin-bottom: -30px;
	padding: 5px;
}

#tips .panel-body {
	padding: 15px;
	margin: 5px;
	border-top: none;
}

#tips .panel-heading {
	background-color: rgba(0,0,0,0.5);
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -5px;
	padding: 5px;
}

#tips .panel-footer {
	background-color: rgba(0,0,0,0.5);
	border-style: none;
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -5px;
	padding: 5px;
	font-size: .7em;
}

#tips .panel-primary{
	background-color: rgba(0,0,0,0.3);
	border-style: none;
	box-shadow: none;
}

#tips .panel-default {
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: -5px;
	padding: 0px;
}

#tips .panel-buttons {
	padding: 0px;
	height: 50px;
}

#tips .primaryInfo{
	font-size: 1.2em;
}

#tips ul{
	margin-left: -25px;
}
#tips li{
	font-size: 0.9em;
	display: inline;
	list-style-type: none;
	padding: 0px;
}

#tips .active{
	color: white;
	font-size: .9em;
}

#tips .btn{
	margin-left: none;
	background-color: rgba(0,0,0,0.2);
	margin-left: 5px;
}

#tips .btn-primary{
	background-color: rgba(0,0,0,0.2);
	border-style: solid;
	border-color: white;
}

#tips .bottomBtn{
	margin-top: 10px;
	margin-left: 20px;
}

#tips .btn-primary-nextBack{
	margin-top:-20px;
	margin-bottom:-30px;
	color: #fff;
}

#tips .btn-heading{
	background-color: rgba(0,0,0,0.0);
	border: none;
	width: 100%;
	padding-right: 85%;
	padding-left: 0px;
	outline-style: none;
	box-shadow: none;
}
#tips .btn-heading:hover {
  color:#009900;
}
#tips .btn-heading:active {
  color:#006B00;
}
#tips .btn-heading:focus {
  color:#00FF00;
}
**/
/*----------------------------------**/
.paddingBottom{
	margin-top: 10%;
}