html, body {
	background: #333 url('../images/backgrounds/marijuana-leaf-3.jpg') center 75% no-repeat;
    background: -o-linear-gradient(bottom right, #0000CC , #E4E1D6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0000CC , #E4E1D6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0000CC , #E4E1D6); /* Standard syntax */
    background-repeat: no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;

   	width: auto !important;
   	height: 100%;
  	overflow-x: hidden !important;
}

#tipText {
	  font-size: 18px;
}

.fill { 
    min-height: 100%;
}
.navbar{
	margin-right: none;
}
.panel, .route-blurb-container {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.table > thead > tr > th, .table > thead > tr > td {
    border: 0;
}

/**--------------MAIN VIEW------------------**/
#mainView {
	background-color: transparent;
	background-position:center;
	border: none;
	overflow: hidden;
	padding-top: 60%;
}
#mainView ul{
	list-style-type: none;
	vertical-align: bottom;
}
#mainView li a {
	background: #000;
	box-shadow: 0 3px 0 rgba(255,255,255,0.1);
	color: #00A300;
	line-height: 50px;
	border-radius: 30px;
	padding: 10px 400px 10px 10px;
	margin: 10px;
	text-align: center;
	position: relative;
	text-decoration: none;
}
#mainView .active{
	background: #DA9223;
	color: #fff;	
}
#mainView .logo{
	/**background: #DA9223;**/
	color: #000;
	font-size: 60px;
	font-family: 'Cookie';
	font-weight: normal;
	line-height: 10px;
	text-shadow: 0 3px 0 rgba(0,0,0,0.1);
	border-radius: 30px;
	padding: 10px 50px 20% 30px;
	margin: 0px 0px 0px 40px;
	text-align: left;
}
#mainView .tagline{
	color: #fff;
	font-size: 20px;
	font-family: 'Cookie', cursive;
	font-weight: normal;
	text-shadow: 0 3px 0 rgba(0,0,0,0.1);
	padding: 1px 1px 1px 1px;
	margin: 0px 0px 0px 22px;
	min-width:200px;
	text-align: left;
	position: relative;
	top: 70px;	
}
/**----------Temps View---------------**/
#tempsView{
	width: 100%;
	float:left;
	padding: 10px; 
}

#tempsView .panel {
	border-style: dotted;
    border-width: 1px;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
	margin-top: 35px;
	margin-bottom: -30px;
	padding: 5px;
}

#tempsView .panel-body {
	padding-left: 0px;
	margin-right: 20px;
	margin-left: 20px;
	padding: 5px;
}

#tempsView .panel-heading {
	background-color: rgba(0,0,0,0.5);
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -5px;
	padding: 5px;
}

#tempsView .panel-footer {
	background-color: rgba(0,0,0,0.5);
	border-style: none;
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -5px;
	padding: 5px;
	font-size: .7em;
}

#tempsView .panel-primary{
	background-color: transparent;
	border-style: none;
	box-shadow: none;
}

#tempsView table{
	border: none;
}

#tempsView a{
	font-style: none;
	color: white;
	text-decoration: none;
}

#radios{
	display:block;
	padding: 0px;
	margin: 0px;
	padding-right: 0px;
}

#tempsView .btn{
	margin-left: none;
	background-color: rgba(0,0,0,0.2);
	margin-left: 15px;
}

#tempsView .tCircle {
	border-style: solid;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
    border-width: 5px;
    border-radius: 50%;
	padding: 20px;
	width: 100px;
	height: 105px;
	font-size: 1.8em;
	text-align: center;
	vertical-align: center;
	margin-left: 37%;
	margin-bottom: -10px;
	color: white;
}

#tempsView .tBox {
	border-style: solid;
	border-color: white;
	background: -webkit-linear-gradient(90deg, #0000FF , #FF3300, #FFFF00); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(90deg, #0000FF , #FF3300, #FFFF00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #0000FF , #FF3300, #FFFF00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #0000FF , #FF3300, #FFFF00); /* Standard syntax */
    border-width: 3px;
	height: 35px;
	color: white;
}

#tempsView .imgStrains a img {
	vertical-align: center;
}

#tempsView .imgStrains h6 {
	text-align: left;
	padding-left: 0px;
}
#tempsView .pushDown{
	padding-top: 10px;
}

/**----------Conditions View---------------**/
#condView{
	width: 100%;
	float:left;
	padding: 10px; 
}

#condView a{
	 text-decoration: none;
	 color: white;
}

#condView .panel {
	border-style: dotted;
    border-width: 1px;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
	margin-top: 35px;
	margin-bottom: -30px;
	padding: 5px;
}

#condView .panel-body {
	padding-left: 0px;
	margin-left: -10px;
	padding: 5px;
}

#condView .panel-heading {
	background-color: rgba(0,0,0,0.5);
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -5px;
	padding: 5px;
}

#condView .panel-footer {
	background-color: rgba(0,0,0,0.5);
	border-style: none;
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -5px;
	padding: 5px;
	font-size: .7em;
}

#condView .panel-primary{
	background-color: rgba(0,0,0,0.3);
	border-style: none;
	box-shadow: none;
}

#condView .primaryInfo{
	font-size: 1.2em;
}

#condView table{
	border: none;
	margin-left: 20px;
}
#condView .temp{
	background-color: rgba(0,0,0,0.2);
	height: 100px;
	padding-left: 20px;
}
#condView ul li{
	display: inline;
	list-style-type: none;
	margin-left: -15px;
}

#condView .active{
	color: white;
	font-size: .9em;
}

#condView .btn{
	margin-left: none;
	background-color: rgba(0,0,0,0.2);
	margin-left: 5px;
}

#condView .btn-primary{
	background-color: rgba(0,0,0,0.2);
	border-style: solid;
	border-color: white;
}

#condView .bottomBtn{
	margin-left: 40%;
	margin-right: 5%;
}

#condView .imgStrains a img {
	vertical-align: center;
}
#condView .imgStrains h6 {
	text-align: left;
	padding-left: 10px;
}

#condView .tCircle {
	border-style: solid;
	border-color: white;
	background-color:rgba(255,105,10,0.5);
    border-width: 4px;
    border-radius: 50%;
	padding: 13px;
	width: 60px;
	height: 65px;
	font-size: 0.9em;
}

/**----------Strains View---------------**/
#strainsView{
	width: 100%;
	float:left;
	padding: 10px; 
}
#strainsView a{
	 text-decoration: none;
	 color: white;
}

#strainsView .panel {
	border-style: dotted;
    border-width: 1px;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
	margin-top: 35px;
	margin-bottom: -30px;
	padding: 5px;
}

#strainsView .panel-body {
	padding-left: 0px;
	margin-left: -10px;
	padding: 5px;
}

#strainsView .panel-heading {
	background-color: rgba(0,0,0,0.5);
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -5px;
	padding: 5px;
}

#strainsView .panel-footer {
	background-color: rgba(0,0,0,0.5);
	border-style: none;
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -5px;
	padding: 5px;
	font-size: .7em;
}

#strainsView .panel-primary{
	background-color: rgba(0,0,0,0.3);
	border-style: none;
	box-shadow: none;
}

#strainsView .primaryInfo{
	margin-left: 20px;
}
#strainsView .list-panel {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}

#strainsView ul li{
	display: inline;
	list-style-type: none;
	margin-left: -15px;
}

#strainsView .active{
	color: white;
	font-size: .9em;
}

#strainsView .btn{
	margin-left: none;
	background-color: rgba(0,0,0,0.2);
	margin-left: 5px;
}

#strainsView .btn-primary{
	background-color: rgba(0,0,0,0.2);
	border-style: solid;
	border-color: white;
}

#strainsView .imgStrains {
	margin-left: 90px;
	margin-right: 20px;
}
#strainsView  .imgStrains a img {
	vertical-align: center;
}
#strainsView .imgStrains h6 {
	text-align: left;
	padding-left: 10px;
}
#strainsView  .pushDown{
	padding-top: 10px;
}

/**----------Effects View---------------**/
#effView{
	width: 100%;
	float:left;
	padding: 10px; 
}

#effView a{
	 text-decoration: none;
	 color: white;
}

#effView .panel {
	border-style: dotted;
    border-width: 1px;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
	margin-top: 35px;
	margin-bottom: -30px;
	padding-top: 5px;
}

#effView .panel-body {
	padding-left: 0px;
	margin-left: 10px;
	padding: 5px;
	border: none;
}

#effView .panel-heading {
	background-color: rgba(0,0,0,0.5);
	color: white;
	margin-top: -5px;
	padding: 5px;
}

#effView .panel-footer {
	background-color: rgba(0,0,0,0.5);
	border-style: none;
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -5px;
	padding: 5px;
	font-size: .7em;
}

#effView .panel-primary{
	background-color: rgba(0,0,0,0.3);
	border-style: none;
	box-shadow: none;
	padding: 2px;
}

#effView .primaryInfo{
	font-size: 1.1em;
	font-weight: bold;
}

#effView table{
	margin-left: 0px;
}
#effView tr td{
	padding-bottom: 15px;
}

#effView .temp{
	background-color: rgba(0,0,0,0.2);
	height: 100px;
	padding-left: 20px;
}

#effView ul li{
	display: inline;
	list-style-type: none;
	margin-left: -35px;
}
#effView .row-padding {
	padding-top: 2px;
	padding-bottom: 2px;
}
#effView .col-padding {
	margin-left: 2px;
}

#effView .active{
	color: white;
	font-size: .9em;
}

#effView .btn{
	margin-left: none;
	background-color: rgba(0,0,0,0.2);
	margin-left: 5px;
}

#effView .btn-primary{
	background-color: rgba(0,0,0,0.2);
	border-style: solid;
	border-color: white;
	margin: 5px;
}

#effView .btn-heading{
	background-color: rgba(0,0,0,0.0);
	border: none;
	width: 100%;
	padding-right: 85%;
	padding-left: 0px;
	outline-style: none;
	box-shadow: none;
}

#effView .btn-heading:hover {
  color:#009900;
}
#effView .btn-heading:active {
  color:#006B00;
}
#effView .btn-heading:focus {
  color:#00FF00;
}

#effView .bottomBtn{
	margin-left: 40%;
	margin-right: 5%;
}

#effView .imgStrains a img {
	vertical-align: center;
}
#effView.imgStrains h6 {
	text-align: left;
	padding-left: 10px;
}

#effView .tCircle {
	border-style: solid;
	border-color: white;
	background-color:rgba(255,105,10,0.5);
    border-width: 4px;
    border-radius: 50%;
	padding: 13px;
	width: 60px;
	height: 65px;
	font-size: 0.9em;
}

/**-------------TIP main VIEW--------------**/
#tipsView{
	width: 100%;
	float:left;
	margin-top: 35px;
	padding-top: 10px;
}

#tipsView img{
	width: 100%;
	max-width: 300px;
	float: left;
}

#tipsView .panel {
	border-style: dotted;
    border-width: 1px;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
}

#tipsView .panel-primary{
	background-color: transparent;
	border-style: none;
	box-shadow: none;
}
#tipView .discription{
	padding-left: 15px;
}
#tipView .panel-heading {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	color: white;
}
#tipView .panel-heading span{
	float: right;
}

#tipView td{
	padding: 0px;
	margin:2px;
	border-top: none;
}

#tipView a {
	border-radius: 10px 10px 0px 0px;
	display: inline-block;
	margin-right: 5px;
	min-width: 50px;
	outline: 1px;
	position: relative;
	text-decoration: none;
	color: #00A300;
}

#tipView .active{
	background: #00A300;
	color: #fff;
	border-color: #000;

}

#tipView ul{
	list-style-type: none;
	padding: 0px;
	margin-right: 20px;
}

#tipView li a {
	background: #000000;
	color: #00A300;
	border-radius: 30px;
	min-width: 100%;
	padding: 8px;
	margin: 2px;
	text-align: center;
}

/**--------------TIP List------------------**/
#tips{
	width: 100%;
	float:left;
	padding: 10px; 
}

#tips a{
	 text-decoration: none;
	 color: white;
}

#tips img{
	width:100%;
	max-width: 300px; 
}

#tips .panel {
	border-style: dotted;
    border-width: 1px;
	border-color: white;
	background-color:rgba(0,0,0,0.2);
	margin-top: 35px;
	margin-bottom: -30px;
	padding: 5px;
}

#tips .panel-body {
	padding: 15px;
	margin: 5px;
	border-top: none;
}

#tips .panel-heading {
	background-color: rgba(0,0,0,0.5);
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -5px;
	padding: 5px;
}

#tips .panel-footer {
	background-color: rgba(0,0,0,0.5);
	border-style: none;
	color: white;
	width: 100;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -5px;
	padding: 5px;
	font-size: .7em;
}

#tips .panel-primary{
	background-color: rgba(0,0,0,0.3);
	border-style: none;
	box-shadow: none;
}

#tips .panel-default {
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: -5px;
	padding: 0px;
}

#tips .panel-buttons {
	padding: 0px;
	height: 50px;
}

#tips .primaryInfo{
	font-size: 1.2em;
}

#tips ul{
	margin-left: -25px;
}
#tips li{
	font-size: 0.9em;
	display: inline;
	list-style-type: none;
	padding: 0px;
}

#tips .active{
	color: white;
	font-size: .9em;
}

#tips .btn{
	margin-left: none;
	background-color: rgba(0,0,0,0.2);
	margin-left: 5px;
}

#tips .btn-primary{
	background-color: rgba(0,0,0,0.2);
	border-style: solid;
	border-color: white;
}

#tips .bottomBtn{
	margin-top: 10px;
	margin-left: 20px;
}

#tips .btn-primary-nextBack{
	margin-top:-20px;
	margin-bottom:-30px;
	color: #fff;
}

#tips .btn-heading{
	background-color: rgba(0,0,0,0.0);
	border: none;
	width: 100%;
	padding-right: 85%;
	padding-left: 0px;
	outline-style: none;
	box-shadow: none;
}
#tips .btn-heading:hover {
  color:#009900;
}
#tips .btn-heading:active {
  color:#006B00;
}
#tips .btn-heading:focus {
  color:#00FF00;
}

/*----------------------------------**/
.paddingBottom{
	margin-top: 10%;
}