/* Show the "Drag" background in the demo */
#content {
	background: -webkit-linear-gradient(bottom right, white , #FFFAE6); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom right, white , #FFFAE6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, white , #FFFAE6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, white , #FFFAE6); /* Standard syntax */
    background-repeat: no-repeat;
    -webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
/* Demo toolbar styles */
#toolbar {
  background: #66FFFF;
  border-bottom: 1px solid #66FFFF;
}

.snap-drawers {
	background: linear-gradient(#66FFFF,#5CE6E6);
	background: -webkit-linear-gradient(#66FFFF,#5CE6E6);
}

.snap-drawer {
	background: linear-gradient(#66FFFF,#5CE6E6);
	background: -webkit-linear-gradient(#66FFFF,#5CE6E6);
	color: #eee;
}
.snap-drawer {
	background: linear-gradient(#66FFFF,#5CE6E6);
	background: -webkit-linear-gradient(#66FFFF,#5CE6E6);
	color: black;
}
.snap-drawer li > a {
  text-shadow: 0 1px 0 #47B2B2;
  color: black;
}

.snap-drawers a{
	color: black;
}
.snap-drawers a:link{
	color: black;
}
.snap-drawers a:hover{
	color: #521400;
}
.snap-drawers a:visited{
	color: black;
}

.loading {
	color: black;
}
.spinner {
  	background-color: #66FFFF;
}

/**--------------MAIN VIEW------------------**/
#mainView .panel {
	color: black;
}

#mainView .panel-heading {
	background-color: rgba(102, 255, 255,0.2);
	color: black;
}

#mainView .panel-footer {
	background-color: rgba(102, 255, 255,0.2);
	color: black;
}

#mainView .btn{
	background-color: rgba(102, 255, 255,0.2);
	border-color: #66FFFF;
}

#mainView img{
    -webkit-filter: invert(0%);
    filter: invert(0%);
}

/**----------Easy View---------------**/
#easyView .panel {
	background-color:rgba(102, 255, 255,0.2);
	color: black;
}

#easyView .panel-text{
	background-color:rgba(102, 255, 255,0.7);
}

#easyView .panel-heading {
	background-color: rgba(102, 255, 255,0.2);
	color: black;
}

#easyView .panel-footer {
	background-color: rgba(102, 255, 255,0.2);
	color: black;
}

#easyView .panel-primary{
	background-color: transparent;
}

#easyView table{
	color: black;
}

#easyView .tCircle {
	border-color: black;
	background-color:rgba(102, 255, 255,0.8);
	color: black;
}

#easyView .active{
	border-right:10px solid black;
}

#easyView .active2{
	border-left:10px solid black;
}

#easyView .btn-border{
	background-color: rgba(102, 255, 255,0.2);
	border-color: #66FFFF;
}

#easyView .btn input{
	color:black;
}

#easyView .btn:hover {
  	color:#009900;
}

#easyView .panel-buttons{
	color: black;
}
/**----------Rec View---------------**/
#recView .panel {
	background-color:rgba(102, 255, 255,0.2);
	color: black;
}

#recView .panel SS{
	color: black;
}

#recView .panel-heading {
	background-color: rgba(102, 255, 255,0.2);
	color: black;
}

#recView .panel-footer {
	background-color: rgba(102, 255, 255,0.2);
	color: black;
}

#recView .panel-primary{
	background-color: transparent;
}

#recView table{
	color: black;
}

#recView a{
	color: black;
}

#recView .tCircle {
	border-color: black;
	background-color:rgba(102, 255, 255,0.8);
	color: black;
}

#recView .active{
	border-right:10px solid black; 
}

#recView .active2{
	border-left:10px solid black;
}

#recView .panel-buttons{
	color: black;
} 

/**--below are for detail mode--**/
#recView .tips .panel-body div{
	background-color: rgba(225, 251, 239,0.8);
}