/* Show the "Drag" background in the demo */
#content {
	background: -webkit-linear-gradient(bottom right, #020702 , black); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom right, #020702 , black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #020702 , black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #020702 , black); /* Standard syntax */
    background-repeat: no-repeat;
    -webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.snap-drawers a{
	color: white;
}
.snap-drawers a:link{
	color: white;
}
.snap-drawers a:hover{
	color: white;
}
.snap-drawers a:visited{
	color: white;
}

.loading {
	color: white;
}
.spinner {
  	background-color: white;
}

/**--------------MAIN VIEW------------------**/
#mainView .panel {
	color: white;
}

#mainView .panel-heading {
	background-color: rgba(1,43,2,0.2);
	color: white;
}

#mainView .panel-footer {
	background-color: rgba(1,43,2,0.2);
	color: white;
}

#mainView .btn{
	background-color: rgba(0,0,0,0.2);
	border-color: white;
}

#mainView img{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
/**----------Easy View---------------**/
#easyView .panel {
	background-color:rgba(1,43,2,0.2);
	color: white;
}

#easyView .panel-heading {
	background-color: rgba(1,43,2,0.2);
	color: white;
}

#easyView .panel-footer {
	background-color: rgba(1,43,2,0.2);
	color: white;
}

#easyView .panel-primary{
	background-color: transparent;
}

#easyView table{
	color: white;
}

#easyView .tCircle {
	border-color: white;
	background-color:rgba(1,43,2,0.8);
	color: white;
}

#easyView .active{ 
	border-right:10px solid yellow;
}

#easyView .active2{
	border-left:10px solid yellow;	
}

#easyView .panel-buttons{
	color: white;
} 

/**----------Rec View---------------**/
#recView .panel {
	background-color:rgba(1,43,2,0.2);
	color: white;
}

#recView .panel-heading {
	background-color: rgba(1,43,2,0.2);
	color: white;
}

#recView .panel-footer {
	background-color: rgba(1,43,2,0.2);
	color: white;
}

#recView .panel-primary{
	background-color: transparent;
}

#recView table{
	color: white;
}

#recView a{
	color: white;
}

#recView .tCircle {
	border-color: white;
	background-color:rgba(1,43,2,0.8);
	color: white;
}

#recView .active{
	border-right:10px solid yellow; 
}

#recView .active2{
	border-left:10px solid yellow;
}

#recView .panel-buttons{
	color: white;
} 

/**--below are for detail mode--**/
#recView .tips .panel-body div{
	background-color: rgba(1,5,1,0.8);
}