<div id="tempsView">
	<div class = "panel panel-primary">
		<div class="tCircle">
			{{vm.tempDisplay}} <span ng-style="vm.styleF" ng-click="selectTemp('F')">F</span>/<span ng-style="vm.styleC" ng-click="selectTemp('C')">C</span>
		</div>
	</div>
	<div class = "panel panel-primary">
		<div class ="row">
			<div class="col-xs-12">
			<div class="glyphicon glyphicon-chevron-left col-xs-1" aria-hidden="true" ng-style="vm.leftT" ng-click="tempSlider('left')"></div> 
			<div class="tBox col-xs-10">
				<div class="col-xs-2" id="radios" ng-repeat="temp in vm.selectedTemps track by $index">	
					<span ng-click="catching(temp)"> {{temp}} </span>	
				</div>
			</div>
			<div class="glyphicon glyphicon-chevron-right col-xs-1" aria-hidden="true" ng-style="vm.rightT" ng-click="tempSlider('right')"></div>
		</div>
		</div>
	</div>
	<div class = "panel">
		<div class="row">
			<div class="panel-heading"> 
			 	Effects:
			</div>
			<div class="panel-body">
				<ul ng-repeat = "effects in vm.effectProperty track by $index">
					<li class="col-xs-6"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> {{effects|unique:'Property'}}</li>
				</ul>
			</div>
		</div>
	</div>

	<div class = "panel">
		<div class="row">
			<div class="panel-heading"> 
			 	Health Conditions: ({{filterName}})
			</div>
			<div class="panel-body">
				<ul ng-repeat="condition in vm.Container|filter:filterName">
					<li class="col-xs-6" ng-repeat="cond in condition.conditions"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> {{cond}}</li>
				</ul>
			</div>
		</div>
	</div>

	<div class = "panel">
		<div class="row">
			<div class="panel-heading"> 
			 	Suggested Strains:
			</div>
			<div class="panel-body pushDown">
				<div class="col-xs-2">
					<div class="btn btn-lg">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					</div>
				</div>
				<div class="imgStrains">
					<div class="col-xs-3" ng-repeat="strain in vm.Container|orderBy:orderName|limitTo:3">
		                <a ng-click="filterStrainName(strain.strainName)">
		                   <img src="http://placehold.it/50x50" class="img-circle">
		                 </a>
		                  <h6>{{strain.strainName}}</h6>
		            </div>
				</div>
				<div class="col-xs-1">
					<div class="btn btn-lg">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					</div>
				</div>
		
			</div>
		</div>
	</div>

</div>