<div id="tips">
	<div class = "panel panel-primary">
		<div class="row">
			<div class="panel-heading"> 
			 	{{vm.currentTip.tipName}}
			 	{{vm.tipsPass.tipName}}
			</div>
			<div class="panel-body">
				 <div class="media-left">
				 	<img class="media-object"
				 		 ng-hide="vm.clicked" 
						 ng-src="{{vm.currentTip.imageUrl[0]}}"
			     		 title="{{vm.currentTip.tipName}}">
					<img class="media-object" 
						 ng-hide="!vm.clicked" 
						 ng-src="{{vm.currentImage}}"
			     		 title="{{vm.currentTip.tipName}}">
			     </div>
			     <div class="media-body">
			     	<h4 class="media-heading"> </h4>
			     	<ul>
						<li class="col-xs-6 active">Price: <span class="primaryInfo"> ${{vm.currentTip.price}} </span></li>
						<li class="col-xs-6 active">Manufacturer: <span class="primaryInfo"> {{vm.currentTip.manufacturer}} </span></li>
						<li class="col-xs-6 active">Weight: <span class="primaryInfo"> {{vm.currentTip.weight}}g </span></li>
						<li class="col-xs-6 active">Type: <span class="primaryInfo"> {{vm.currentTip.tipCatagory}} </span></li>
					</ul>
					
				</div>
					
			</div>
			<div class="panel-footer">
				<div class="media-left" ng-repeat="image in vm.currentTip.imageUrl track by $index">
					<img class="media-object" 
						 ng-src="{{image}}"
						 ng-click="selectImage(image)"
			     		 title="{{vm.currentTip.tipName}}">
			     </div> 
			     <div>
			     	{{vm.currentTip.tipDescriptionAbbrev}}
			     </div>
				
			</div>
		</div>
	</div>
	<div class = "panel">
		<div class="row">
			<div class="panel-heading"> 
			 	Included:
			</div>
			<div class="panel-body">
				<ul>
					<li class="col-xs-6" ng-repeat="include in vm.currentTip.included"> 
						<span class="glyphicon glyphicon-gift" aria-hidden="true"></span> 
						{{include}} 
					</li>
				</ul>
			</div>	
			<div class="panel-footer"> 
				Warranty: {{vm.currentTip.manufacturersWarranty}}
			</div>	
		</div>
	</div>
	<div class = "panel">
		<div class="row">
			<div class="panel-heading"> 
			 	Temperature Settings (<span ng-style="vm.styleF" ng-click="selectTemp('F')">F</span>/<span ng-style="vm.styleC" ng-click="selectTemp('C')">C</span>):
			</div>
			<div class="panel-body">
			    <ul>
					<li class="col-xs-4" ng-repeat="temp in vm.currentTip.temps|filter:sortOrder"> <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> {{temp}} </li>

				</ul>	
			</div>
		</div>
	</div>
	<div class ="panel">
		<div class ="row">
			<div class="panel-heading"> 
			 	Description
			</div>
			<div class="panel-body">
				<div class ="col-xs-11" ng-repeat="tip in vm.currentTip.tipDescriptionDetailed|limitTo:limitDisplay">
					<p>{{tip}}</p>
				</div>
			</div>
			<div class="panel-footer"> 
			 	<a ng-click="setDisplay()"> {{displaySetting}}</a>
			</div>
		</div>
	</div>
	<div class="panel panel-buttons">
		<div class="row">
			<div class="bottomBtn">
			    <button ng-hide="vm.noPrev" class="btn btn-primary-nextBack"  ng-click="prevPage()">Prev</button>
				<button ng-hide="vm.noNext" class="btn btn-primary-nextBack"  ng-click="nextPage()">Next</button>
				<button class="btn btn-primary-nextBack" ui-sref="tipsView">Main</button>	
			</div>		
		</div>
	</div>
</div>