<div id="tips">
	<div id="tipTitle"> 
		{{vm.currentTip.tipName}}
		{{vm.tipsPass.tipName}}
	</div>
	<div id="tipText">
		<div class="row"> 
			<img ng-src="{{vm.currentTip.imageUrl[0]}}"
			     title="{{tip.tipName}}">
			
				{{vm.currentTip.tipDescriptionAbbrev}}
			
		</div>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-repeat="tip in vm.currentTip.tipDescriptionDetailed">

			<div class="panel panel-default">

			    <div class="panel-heading" role="tab" id="heading{{$index+1}}">

			      <h4 class="panel-title">
			        <button data-toggle="collapse" class="btn btn-primary title" type="button" class="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" aria-expanded="false" aria-controls="collapse{{$index}}">
			          Tip #{{$index+1}}
			        </button>
			      </h4>

			    </div>

			    <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{$index}}">
			      
			     	<div class="panel-body">
			        	<p>{{tip}}</p>
			     	</div>

			    </div>

		  	</div>

		</div>

	<div class="row" id="NextBackBtn"> 
		<button ng-hide="vm.noPrev" class="btn btn-primary-nextBack"  ng-click="prevPage()">Prev</button>
		<button ng-hide="vm.noNext" class="btn btn-primary-nextBack"  ng-click="nextPage()">Next</button>
		<button class="btn btn-primary-nextBack" ui-sref="tipsView">Main</button>
	</div>
</div>
	