<div ng-repeat="product in vm.products" id="tips">
	<div class="panel panel-primary">
		<div class="panel-heading" style="font-size:large"> 
			 {{product.productName}}
		</div>

		<div class="panel-body">
			<div class = "row">
				<div class = "col-md-10">
					<div class="media">
	  					<div class="media-center">
	    					<a href="#">
	      						<p><img ng-src="{{product.imageUrl}}"
								 	 style="width:100%; min-width: 50px;"
								 	 title="{{product.productName}}"></p> 	 
	    					</a>
	  					</div>
					</div>
				</div>
			</div>
			<div class = "row">
				<div class = "col-md-10">
					<div class="media">
	  					<div class="media-body">
	    					<h4 class="media-heading"><p>{{product.productName}}</p></h4>
	    						<div id="tipText">{{product.descriptionDetailed}}</div>
	  					</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel-footer">
			<!-- <a class="btn btn-primary"
			    ng-click="vm.prevPage()"
			   ui-sref="tipsList";
			   style="width:80px">
			 	<i class="glyphicon glyphicon-chevron-left"></i>
			 	Back
			</a>
			<a class="btn btn-primary"
			   ng-click="vm.nextPage()"
			   ui-sref="tipsList";
			   style="width:80px;">
			 	Next
			 	<i class="glyphicon glyphicon-chevron-right"></i>
			</a> -->
		</div>
	</div>
</div>