<div id="easyView">
	<!--the temperature display -->
	<div class = "panel panel-primary">
		<div class = "row">
			<table>
				<tr>
					<td class="col-xs-1"> 
						<div ng-repeat="mode in vm.Modes|limitTo:3 track by $index">
							<div ng-class="active(mode)"></div>
							<li ng-click="selectMode(mode)"> 
								<img style="width:35px;" ng-src="images/Rec/{{mode}}.png"> 
							</li>
						</div>
					</td>
					<td class="col-xs-9"> 

						<div class = "row">
							<div class="tCircle">
								<div style="font-size:0.5em;">{{vm.discMode}}</div>
								<span><img style="width:150px;" ng-src="images/Rec/{{vm.centerImage}}"></span>
							</div>
						</div>

						<div class = "row center">
							
							<div class="col-xs-12"> 
								<span ng-style="vm.styleMed" ng-click="selectMode('Med')" ui-sref="easy">Med </span>/<span ng-style="vm.styleRec" ng-click="selectMode('Rec')" ui-sref="rec"> Rec</span>
							</div>

							<div class="col-xs-12" style="font-size:0.8em;"><span> {{vm.modeName}} </span></div>

						</div>
						
					</td>
					
					<td class="col-xs-1"> 
					
						<div ng-repeat="mode in vm.Modes|limitTo:-3 track by $index">
							<div ng-class="active(mode)"></div>
							<li ng-click="selectMode(mode)" style="text-align:right">
								<img style="width:35px;" ng-src="images/Rec/{{mode}}.png">
							</li>	
						</div>
						
					</td>
				
				</tr>
			</table>
		</div>
	</div>
	<!--the temperature display end-->
	<!--Rec Questions-->
	<!--Flavor-->
	<div ng-show = "showQuestion1">
		<div class = "panel">
			<div class="row">
				<div class="panel-body">
					<div class="col-xs-12" ng-click = "vm.toggleQuestion('Q1')">
						<SS> + </SS>Pick your flavor <span class="caret"></span> <div>{{vm.selectedTaste}}</div>
					</div>
					<div role="presentation" class="divider"></div>
					<div ng-if = "vm.showQ1">
					    <ul class="col-xs-7" ng-repeat = "tasteList in vm.tasteList|orderBy:'taste'">
							<li><div ng-click="selectTaste(tasteList.taste)">{{tasteList.taste}}</div></li>
						</ul>
					</div> 
				</div>
			</div>
		</div>

		<div class = "panel panel-buttons">
			<div class = "row">
				<div class="btn" ng-click="goEasy('Q1')"> GO </div>
			</div>
		</div>
	</div>
	<!--Effect-->
	<div ng-show = "showQuestion2">
		<div class = "panel">
			<div class="row">
				<div class="panel-body">
					<div class="col-xs-12" ng-click = "vm.toggleQuestion('Q2')">
						<SS> + </SS>Pick your effect <span class="caret"></span> <div>{{vm.selectedTaste}}</div>
					</div>
					<div role="presentation" class="divider"></div>
					<div ng-if = "vm.showQ2">
					    <ul class="col-xs-7" ng-repeat = "tasteList in vm.tasteList|orderBy:'taste'">
							<li><div ng-click="selectTaste(tasteList.taste)">{{tasteList.taste}}</div></li>
						</ul>
					</div> 
				</div>
			</div>
		</div>

		<div class = "panel panel-buttons">
			<div class = "row">
				<div class="btn" ng-click="goEasy('Q2')"> GO </div>
			</div>
		</div>
	</div>
	<!--Strain-->
	<div ng-show = "showQuestion3">
		<div class = "panel">
			<div class="row">
				<div class="panel-body">
					<div class="col-xs-12" ng-click = "vm.toggleQuestion('Q3')">
						<SS> + </SS>Pick your strain <span class="caret"></span> <div>{{vm.selectedStrain}}</div>
					</div>
					<div role="presentation" class="divider"></div>
					<div ng-if = "vm.showQ3">
						<div class = "row row-padding">
				 			<label class="btn">Search: <input type="text" ng-model="vm.searchAll"></input>
				 				<a class="clear" ng-click="searchStrain(vm.searchAll)">
	    							<span class="glyphicon glyphicon-search"></span>
								</a> 
				 				<a class="clear" ng-click="clearSearch()">
	    							<span class="glyphicon glyphicon-remove"></span>
								</a>
							</label>
						</div> 
			 			<div class = "row row-padding">
					 		<div class="btn" ng-click="searchStrain('All')"> All </div>
					 		<div class="btn" ng-click="searchStrain('Sativa')"> Sativa </div>   
					 		<div class="btn" ng-click="searchStrain('Indica')"> Indica </div> 
					 		<div class="btn" ng-click="searchStrain('Hybrid')"> Hybrid </div> 
					 	</div>
					 	<ul class="col-xs-7" ng-repeat = "sName in vm.strainNames|orderBy:'strainName'|filter:vm.searchAll:strict">
							<li><div ng-click="selectStrain(sName.strainName)">{{sName.strainName}}</div></li>
						</ul>
				 	</div>
				</div>
			</div>
		</div>

		<div class = "panel panel-buttons">
			<div class = "row">
				<div class="btn" ng-click="goEasy('Q3')"> GO </div>
			</div>
		</div>
	</div>
	<!--Rec Questions end-->

	<!--Rec Answers-->
	<!--Flavor-->
	<div ng-show = "showAnswer1">
		<div class = "panel">
			<div class="row">
				<div class="panel-body">
					<div class="col-xs-12"> Your flavor selection: </div>
					<div class="col-xs-6"> {{vm.selectedTaste}} </div>
				</div>
			</div> 
		</div>

		<div class = "panel panel-buttons">
			<div class = "row">
				<div class="btn" ng-click="goBack('A1')"> Back </div>
			</div>
		</div>
	</div>
	<!--Effect-->
	<div ng-show = "showAnswer2">
		<div class = "panel">
			<div class="row">
				<div class="panel-body">
					<div class="col-xs-12"> Your effect selection: </div>
					<div class="col-xs-6"> {{vm.selectedTaste}} </div>
					<div class="col-xs-6"> {{vm.selectedStrain}} </div>
				</div>
			</div> 
		</div>

		<div class = "panel panel-buttons">
			<div class = "row">
				<div class="btn" ng-click="goBack('A2')"> Back </div>
			</div>
		</div>
	</div>

	<!--Strain-->
	<div ng-show = "showAnswer3">
		<div class = "panel">
			<div class="row">
				<div class="panel-body">
					<div class="col-xs-12"> Your strain selection: </div>
					<div class="col-xs-6"> {{vm.selectedStrain}} </div>
				</div>
			</div> 
		</div>

		<div class = "panel panel-buttons">
			<div class = "row">
				<div class="btn" ng-click="goBack('A3')"> Back </div>
			</div>
		</div>
	</div>
	<!--Rec Answers end-->

</div>