
<div ng-repeat="product in vm.vapes" id="themes">
<div class="panel panel-primary">
	<div class="panel-heading" style="font-size:large"> 
		{{product.productName}}
	</div>

	<div class="panel-body">
		<div class = "row">
			<div class = "col-md-10">
				<div class="media">
  					<div class="media-center">
    					<a href="#">
      						<img ng-src="{{product.imageUrl1}}"
							 	 style="margin-left:12%; margin-bottom: 30px; width:75%; min-width: 100px;"
							 	 title="{{product.productName}}"> 	 
    					</a>
  					</div>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-10">
				<div class="media">
   					<div class="media-body">
    					<h4 class="media-heading"><p>{{product.productName}}</p></h4>
    						<div><small>{{product.manufacturer}}</small></div>
    						<div><p><strong>{{product.price | currency}}</strong><p></div>
    						<div id="tipText"><p>{{product.descriptionDetailed1}}</p></div>
							
							<div class="media-center">
		    					<a href="#">
		      						<img ng-src="{{product.imageUrl2}}"
									 	 style="margin-left:12%; margin-bottom: 30px; width:75%; min-width: 100px;"
									 	 title="{{product.productName}}"> 	 
		    					</a>
  							</div>
							
							<div id="tipText"><p>{{product.descriptionDetailed2}}</p></div>

							<div class="media-center">
		    					<a href="#">
		      						<img ng-src="{{product.imageUrl3}}"
									 	 style="margin-left:12%; margin-bottom: 30px; width:75%; min-width: 100px;"
									 	 title="{{product.productName}}"> 	 
		    					</a>
  							</div>
							<div id="tipText"><p>{{product.descriptionDetailed3}}</p></div>

							<div class="media-center">
		    					<a href="#">
		      						<img ng-src="{{product.imageUrl4}}"
									 	 style="margin-left:12%; margin-bottom: 30px; width:75%; min-width: 100px;"
									 	 title="{{product.productName}}"> 	 
		    					</a>
  							</div>
							<div id="tipText"><p>{{product.descriptionDetailed4}}</p></div>

							<div class="media-center">
		    					<a href="#">
		      						<img ng-src="{{product.imageUrl5}}"
									 	 style="margin-left:12%; margin-bottom: 30px; width:75%; min-width: 100px;"
									 	 title="{{product.productName}}"> 	 
		    					</a>
  							</div>
							<div id="tipText"><p>{{product.descriptionDetailed5}}</p></div>

							<div class="media-center">
		    					<a href="#">
		      						<img ng-src="{{product.imageUrl6}}"
									 	 style="margin-left:12%; margin-bottom: 30px; width:75%; min-width: 100px;"
									 	 title="{{product.productName}}"> 	 
		    					</a>
  							</div>
							<div id="tipText"><p>{{product.descriptionDetailed6}}</p></div>

							<div class="media-center">
		    					<a href="#">
		      						<img ng-src="{{product.imageUrl7}}"
									 	 style="margin-left:12%; margin-bottom: 30px; width:75%; min-width: 100px;"
									 	 title="{{product.productName}}"> 	 
		    					</a>
  							</div>
							<div id="tipText"><p>{{product.descriptionDetailed7}}</p></div>


    						<div>
    						<p></p><p><strong>Included Accessories: </strong></p>
    						<p>{{product.included}}</p></div>
  					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel-footer">
		<!-- <a class="btn btn-default"
		   ng-click="vm.prevPage()"
		   ui-sref="tipsList";
		   style="width:80px">
		 	<i</p>
		 	<p> class="glyphicon glyphicon-chevron-left"></i>
		 	Back
		</a>
		<a class="btn btn-primary"
		   ng-click="vm.nextPage()"
		   ui-sref="tipsList";
		   style="width:80px;">
		 	Next
		 	<i class="glyphicon glyphicon-chevron-right"></i>
		</a> -->
	</div>
</div>
</div>