<div id="effView">
	<div class="panel panel-default"> 
		<div class="panel-heading" role="tab" id="{{effect.effectName}}">
		      <h4 class="panel-title">Effects</h4> 
		</div>
	 	<div class="btn btn-primary"> A-D </div> 
	 	<div class="btn btn-primary"> E-H </div> 
	 	<div class="btn btn-primary"> I-L </div>
	 	<div class="btn btn-primary"> M-P </div> 
	 	<div class="btn btn-primary"> Q-T </div> 
	 	<div class="btn btn-primary"> U-Z </div>
	</div>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  	<div class="panel panel-default" ng-repeat="effect in vm.effects">
		    <div class="panel-heading" role="tab" id="{{effect.effectName}}">
		      <h4 class="panel-title">
		        <button class="btn btn-heading" type="button" data-toggle="collapse" data-parent="#accordion" href="#{{effect.effectId}}" aria-expanded="false" aria-controls="collapseTwo" ng-click="selectEffect(effect.effectName)">
		        	<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> 
			          {{effect.descriptionAbbrev}}
			        </a>
			    </h4>
			</div>
			<div id="{{effect.effectId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{effect.effectName}}">
			    <div class="panel-body">
			    	 <div class = "row">
				        <div class = "col-xs-11">
				        	<span class="primaryInfo"> Medical Name: </span> 
				        	{{effect.effectName}}
				    	</div>
				        <div class = "col-xs-11">
				        	<span class="primaryInfo"> Detailed Discription: </span> 
				        	{{effect.descriptionDetailed}}
				        </div>
				        <div class = "col-xs-11">
				        	<span class="primaryInfo"> Condition Treated: </span>
				        	<ul ng-repeat="condition in effect.conditionsTreated track by $index">
								<li class="col-xs-6"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> {{condition}}</li>
							</ul> 
				        </div>
				    </div>
			        <div class = "row">
				        <table ng-repeat="effect in vm.selectedProducts">
					        <tr>		
								<td class="col-xs-2" >
							        <a href="#">
							         	<div class="tCircle">
								  			<div ng-Hide="vm.F">{{effect.highTemp}}</div>
								  			<div ng-Hide="vm.C">{{effect.highTempC}}</div>
								  			<span ng-style="vm.styleF" ng-click="selectTemp('F')">F</span>/<span ng-style="vm.styleC" ng-click="selectTemp('C')">C</span>
								  		</div>
							        </a>
							        Range:<div ng-Hide="vm.F">{{effect.temp}}</div><div ng-Hide="vm.C">{{effect.tempC}}</div>
								</td>
								<td class="col-xs-9 col-padding" >
									<span class="primaryInfo">
										{{effect.productName}} - </span>
									{{effect.descriptionAbbrev}} 		
									<ul ng-repeat="property in effect.Property track by $index">
										<li class="col-xs-10"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> {{property}}</li>
									</ul>
								</td>
							</tr>
						</table>
					</div>
			    </div>
			</div>
		</div>
	</div>
</div>