<div id="mainView">
	<div class = "panel panel-primary">
		<div class = "row">
			<div class="panel-heading text-center"> Legal Agreement </div>
			<div class="panel-body">
				<div class="text-center"><img src="images/rec/balanced.png"></div>
				<p>
					The effects of medical cannabis are dependent on a variety of factors including
					how and when your strain was harvested and your personal physiology and tolerance.
				</p>
				<p>
					By clicking <b>“I Agree”</b> below, I confirm that I am <b>18</b> or over and that I will not take any information presented in this app as medical advice without consulting a medical professional to prevent unwanted interactions. I hereby certify that I will not hold 2 Geese Flying LLC legally liable in any way for the actual results I experience. I understand that this app is used for entertainment and information purposes only.
				</p>
			</div>
			<div class="panel-footer text-center"> 
				<div class ="btn" ng-click="vm.checkAgreement('I Agree')" ui-sref="easy"> I Agree <span ng-if="vm.OK" class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
			</div>
		</div>
	</div>
</div>