<div id="condView">
	<div class = "panel panel-primary">
		<div class="row">
			<div class="panel-heading"> 
			 	 <label class="btn">Health Conditions: <input ng-model="search.conditionName"></label>
			</div>
			<div class="panel-body primaryInfo">
				<div class = "row row-padding"> 
					<div class = "col-xs-12" ng-repeat = "cond in vm.conditions|orderBy:'conditionName'|filter:search:strict |limitTo:vm.limits">  
						<div class = "btn btn-primary" ng-click="selectCondition(cond)"> {{cond.conditionName}} </div> 
					</div>
				</div>
			</div>	
			<div class="panel-footer"> 
			 	<div class="" ng-click="setLimits()">{{vm.buttonName}}</div>
			</div>
		</div>
	</div>
	<div class = "panel">
		<div class="row">
			<div class="panel-heading"> 
			 	{{vm.selectedCondition.conditionName}}
			</div>
			<div class="panel-body">
				<div class="row row-padding">
					<div class = "col-xs-12">{{vm.selectedCondition.descriptionAbbrev}}</div>
				</div>	
			</div>
		</div>
	</div>

	<div class = "panel" ng-repeat="strain in vm.selectedStrains|orderBy:'strainName'">
		<div class="row">
			<div class="panel-heading"> 
			 	{{strain.strainName}}
			</div>
			<div class="panel-body">
				<div class="imgStrains" ng-hide="vm.showUp">
					<div class="col-xs-4">
		                <img src="{{strain.imageUrl}}" class="img-circle">
		            </div>
		            <div class="col-xs-8">
		                <div ng-repeat="comp in strain.components|orderBy:'-value'">
		                	<span class="col-xs-6">{{comp.name}}:</span> <div class="col-xs-6"> {{comp.value}}% </div>
		                </div>
		            </div>
				</div>	
			</div>
		</div>
	</div>

</div>