<div id="easyView">
	<!--the temperature display -->
	<div class = "panel panel-primary">
		<div class = "row">
			<table>
				<tr>
					<td class="col-xs-1"> 
						<div ng-repeat="temp in vm.Temps|limitTo:5 track by $index">
							<div ng-class="active(temp)"></div>
							<li ng-click="catching(temp)" ng-style = "thisTemp(temp)"> {{temp}}</li>
						</div>
					</td>
					<td class="col-xs-9"> 

						<div class = "row">
							<div class="tCircle">
								<span>{{vm.tempDisplay}}</span> <br>
								<span ng-style="vm.styleF" ng-click="selectTemp('F')">F</span>/<span ng-style="vm.styleC" ng-click="selectTemp('C')">C</span>
							</div>
						</div>

						<div class = "row center">
							
							<div class="col-xs-12"> 
								<span ng-style="vm.styleMed" ng-click="selectMode('Med')" ui-sref="easy">Med </span>/<span ng-style="vm.styleRec" ng-click="selectMode('Rec')" ui-sref="rec"> Rec</span> 
							</div>

							<div class="col-xs-12" style="font-size:0.8em;"><span ng-repeat ="name in vm.EffectsProductName"> {{name}} </span></div>

						</div>
						
					</td>
					<td class="col-xs-1"> 
						<div ng-repeat="temp in vm.Temps|limitTo:-5 track by $index">	
							<div ng-class="active(temp)"></div>
							<li ng-click="catching(temp)" style="text-align:right" ng-style = "thisTemp(temp)">{{temp}}</li>	
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!--the temperature display end-->

	<!--loader-->
	<div class = "panel panel-primary">
		<div class="row">
			<div class="col-xs-12"><loading></loading></div>
		</div>
	</div>
	<!--loader end-->
	
	<!--Med Questions-->
	<div ng-show = "showQuestion">
		<div class = "panel">
			<div class="row">
				<div class="panel-body">
					<div class="col-xs-12" ng-click = "vm.toggleQuestion('Q1')">
						<SS ng-style="vm.alert"> 1. </SS>Choose a medical condition <span class="caret"></span> <div>{{vm.selectedCond}}</div> <div ng-style="vm.alert">{{vm.alertMsg}}</div>
					</div>
					<div role="presentation" class="divider"></div>
					<div ng-if = "vm.showQ1">
					    <ul class="col-xs-11" ng-repeat = "condName in vm.conditionNames|unique:$index|orderBy:$index">
							<li><div ng-click="selectCondition(condName)">{{condName}}</div></li>
						</ul>
					</div> 
				</div>
			</div>
		</div>

		<div class = "panel">
			<div class="row">
				<div class="panel-body">

					<div class="col-xs-6" ng-click = "vm.toggleQuestion('Q2')">
						<SS> 2. </SS> Have a strain <span class="caret"></span>
						<div>{{vm.selectedStrain}}</div>
					</div>
					<div class="col-xs-6" ng-click = "goSuggest()">
						 <SS> </SS> Need a strain<span class="caret"></span>
					</div>
					<div ng-if = "vm.showQ2">
						<div class = "row row-padding">
				 			<label class="btn">Search: <input type="text" ng-model="vm.searchAll"></input>
				 				<a class="clear" ng-click="searchStrain(vm.searchAll)">
	    							<span class="glyphicon glyphicon-search"></span>
								</a> 
				 				<a class="clear" ng-click="clearSearch()">
	    							<span class="glyphicon glyphicon-remove"></span>
								</a>
							</label>
						</div> 
			 			<div class = "row row-padding">
					 		<div class="btn" ng-click="searchStrain('All')"> All </div>
					 		<div class="btn" ng-click="searchStrain('Sativa')"> Sativa </div>   
					 		<div class="btn" ng-click="searchStrain('Indica')"> Indica </div> 
					 		<div class="btn" ng-click="searchStrain('Hybrid')"> Hybrid </div> 
					 	</div>
					 	<ul class="col-xs-11" ng-repeat = "sName in vm.strainNames|orderBy:'strainName'|filter:vm.searchAll:strict">
							<li><div ng-click="selectStrain(sName.strainName)">{{sName.strainName}}</div></li>
						</ul>
				 	</div>
				 	
				</div>
			</div>
		</div>

		<div class = "panel panel-buttons">
			<div class = "row">
				<div class="btn" ng-click="goEasy()"> GO </div>
			</div>
		</div>
	</div>
	<!--Med Questions end-->
	<!--Med Answers-->
	<div ng-show = "showAnswer">
		<div class = "panel">
			<div class="row">
				<div class="panel-body">
					<div class="col-xs-12"> Your selection: </div>
					<div class="col-xs-6"> {{vm.selectedCond}} </div>
					<div class="col-xs-6"> {{vm.selectedStrain}} </div>
				</div>
			</div> 
		</div>
		
		<div class = "panel" ng-if="vm.hasEnterStrain">
			<div class="row">
				<div class="panel-body">
					<div class="col-xs-12"> At {{vm.tempDisplay}}{{vm.currentTemp}}, {{vm.selectedStrain}} contains approximately {{vm.dataForYou.value}}% of {{vm.dataForYou.name}} </div>
				</div> 
			</div>
		</div>

		<div class = "panel" >
			<div class="row">
				<div class="panel-body">
					<div class="col-xs-12">{{vm.EffectsProductName[0]}} is known to produce the following effects:</div>
					<div class="col-xs-12" ng-repeat = "name in vm.englishEffectName|unique:$index track by $index">
						<li ng-style = "thisCond(name)">{{name}}</li>
					</div>
				</div> 
			</div>
		</div>

		<div class = "panel" ng-if="vm.suggested">
			<div class="row">
				<div class="panel-body">
					<div class="col-xs-6"> Suggested Strains: </div>
					
					<div class="col-xs-6"> 
						<div ng-if="!vm.ShowStrains"> {{vm.noMatchMSG}} </div>
						<div class = "btn" style = "float:right" ng-if="vm.ShowStrains">
							<div ng-click="getSuggestStrain()"> Show </div>
						</div>
					</div>
					
				</div>
			</div> 
		</div>
		
		<div class = "panel" ng-if="vm.hasMatches" ng-repeat = "suggestedStrains in vm.finalSuggestedStrains|orderBy:'-matches'|limitTo:vm.MoreStrains">
			<div class="row">
				<div class="panel-heading">
					{{suggestedStrains.strnData.strainName}} <!--has {{suggestedStrains.matches}} matches-->
				</div>
				<div class="panel-body">
					<div class = "row">
						<div class="col-xs-3">
							<div class="imgStrains"> 
								<img class="img-circle" src="{{suggestedStrains.strnData.imageUrl}}"> 
							</div>
						</div>
						<div class="col-xs-8">
							<div> 
								{{suggestedStrains.strnData.descriptionAbbrev}} 
							</div>
						</div>
						<!--
						<div class="col-xs-3">
							<div class="btn"> <span class="glyphicon glyphicon-book"></span> <span class="glyphicon glyphicon-eye-open"></span> <br> Info </div>  
						</div>-->
					</div>
				</div>
				<div  class = "panel-footer">
					<div class="btn" ng-click="goBack()"> <span class="glyphicon glyphicon-chevron-left"></span> Back  </div>
					<div class="btn" style="float:right" ng-click="" ui-sref="strainDetails({strainId: suggestedStrains.strnData.strainId})"> Detail<span class="glyphicon glyphicon-chevron-right"></span> </div>
					<!--
					<div class = "btn" style = "float:right" ng-if="vm.thereIsMore">
						<div ng-click="goMore('A1')" ng-if="!vm.MoreOrLess"> More </div>
						<div ng-click="goMore('A2')" ng-if="vm.MoreOrLess"> Less </div>
					</div>-->
					
				</div>
			</div> 
		</div>

		<div class="row">
			<div class="col-xs-6">
				<div class = "panel panel-buttons">
					<div class="btn" ng-click="goBack()"> Back </div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class = "panel panel-buttons" ng-if="vm.thereIsMore">
					<div class="btn" ng-click="goMore('A1')" ng-if="!vm.MoreOrLess"> More </div>
					<div class="btn" ng-click="goMore('A2')" ng-if="vm.MoreOrLess"> Less </div>
				</div>
			</div>
		</div>
	</div>
	<!--Med Answers end-->

</div>