<div id="mainView">
	<div class = "panel panel-primary">
		<!--<div class ="btn btn-primary" ui-sref="easy"> E </div>-->
		<div class ="btn btn-primary" ui-sref="main.temps"> Adv </div>
	</div>
</div>

<div id="easyView">
	<!--the temperature display -->
	<div class = "panel panel-primary">
		<div class = "row">
			<table>
				<tr>
					<td class="col-xs-1"> 
						<div ng-repeat="temp in vm.Temps|limitTo:5 track by $index">
							<div ng-class="active(temp)"></div>
							<li ng-click="catching(temp)"> {{temp}}</li>
						</div>
					</td>
					<td class="col-xs-9"> 

						<div class = "row">
							<div class="tCircle">
								<span>{{vm.tempDisplay}}</span> <br>
								<span ng-style="vm.styleF" ng-click="selectTemp('F')">F</span>/<span ng-style="vm.styleC" ng-click="selectTemp('C')">C</span>
							</div>
						</div>

						<div class = "row center">
							
							<div class="col-xs-12" style="font-size:1.5em;">Med / Rec </div>

							<div class="col-xs-12"><span ng-repeat ="name in vm.EffectsProductName"> {{name}} </span></div>

						</div>
						
					</td>
					<td class="col-xs-1"> 
						<div ng-repeat="temp in vm.Temps|limitTo:-5 track by $index">	
							<div ng-class="active(temp)"></div>
							<li ng-click="catching(temp)" style="text-align:right">{{temp}}</li>	
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class = "panel">
		<div class="row">
			<div class="panel-body">
				<div class="collapsed col-xs-12" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
					<SS> 1. </SS>Choose an effect <span class="caret"></span>
				</div>
				<div role="presentation" class="divider"></div>
				<div id="collapseOne" class="collapse" role="tabpanel">
					<!--
					<h4 class="col-xs-12">Specific Treatment</h4>
					<div role="presentation" class="divider"></div>
				    <ul class="col-xs-7" ng-repeat = "effects in vm.effectProperty track by $index">
						<li><div class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false" ng-click="selectEffect(effects)">{{effects|unique:'Property'}}</div></li>
					</ul>
					-->
				    <h4 class="col-xs-12">Medicial Conditions </h4>
				    <div role="presentation" class="divider"></div>
				    <ul class="col-xs-7" ng-repeat = "name in vm.conditions">
						<li><div class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false" ng-click="selectEffect(name.conditionName)">{{name.conditionName}}</div></li>
					</ul>
				</div> 
			</div>
		</div>
	</div>

	<div class = "panel">
		<div class="row">
			<div class="panel-body">
				<div class="collapsed col-xs-12" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					<SS> 2. </SS> Choose a strain <span class="caret"></span>
				</div>
				<div id="collapseTwo" class="collapse" role="tabpanel">
					<div class = "row row-padding">
			 			<label class="btn">Search: <input type="text" ng-model="vm.searchAll"></input> 
			 				<a class="clear" ng-click="clearSearch()">
    							<span class="glyphicon glyphicon-remove"></span>
							</a>
						</label>
					</div> 
		 			<div class = "row row-padding">
				 		<div class="btn" ng-click="searchEffect('All')"> All </div>
				 		<div class="btn" ng-click="searchEffect('Sativa')"> Sativa </div>   
				 		<div class="btn" ng-click="searchEffect('Indica')"> Indica </div> 
				 		<div class="btn" ng-click="searchEffect('Hybred')"> Hybred </div> 
				 	</div>
			 	</div>

			</div>
		</div>
	</div>

	<div class = "panel panel-buttons">
		<div class = "row">
			<div class="btn" ng-click=""> GO </div>
		</div>
	</div>
</div>